{
  "printWidth": 100,
  "singleQuote": true,
  "plugins": [
    "prettier-plugin-angular"
  ],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
